@use 'animations';

.intro-avatar-container {
  transition: all 1s ease-in-out;
  z-index: 5;
  overflow: hidden;
  max-width: 300px;
  border-radius: 30% 40% 60% 70% / 70% 60% 30% 40%;
  animation: morph 8s ease-in-out infinite;
  box-shadow: 6px 2px #000;
}
