.project-card {
  @apply flex flex-col items-center justify-center cursor-pointer;
  border-radius: 16px;
  max-height: 50px;
  padding: 16px;
  margin: 16px;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s ease;

  background-size: 20px 20px;
  opacity: 0.8;
  background-position:
    0 0,
    10px 10px;
}

.project-content {
  max-height: 0;
  transition: all 0.5s ease;
  overflow: hidden;
  font-size: 18px;
  padding: 0;

  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.3px);
  -webkit-backdrop-filter: blur(17.3px);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

.project-title {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
  text-align: right;
  width: 100%;
  padding-inline: 24px;
}

.project-card.expand,
.project-card.expand .project-content {
  max-height: 1000px;
  cursor: auto;
}

.project-card.expand .project-content {
  padding: 30px;
}

.project-bg-lankyone {
  background-color: var(--showcase-lankyone);
  background-image: radial-gradient(#e5e5f7 0.5px, transparent 0.5px),
    radial-gradient(#e5e5f7 0.5px, var(--showcase-lankyone) 0.5px);
}

.project-bg-bettercast {
  background-color: var(--showcase-bettercast);
  background-image: radial-gradient(#e5e5f7 0.5px, transparent 0.5px),
    radial-gradient(#e5e5f7 0.5px, var(--showcase-bettercast) 0.5px);
}

.project-bg-appvantageasia {
  background-color: var(--showcase-appvantageasia);
  background-image: radial-gradient(#e5e5f7 0.5px, transparent 0.5px),
    radial-gradient(#e5e5f7 0.5px, var(--showcase-appvantageasia) 0.5px);
}

.project-bg-m {
  background-color: var(--showcase-m);
  background-image: radial-gradient(#e5e5f7 0.5px, transparent 0.5px),
    radial-gradient(#e5e5f7 0.5px, var(--showcase-m) 0.5px);
}

.project-bg-legacy {
  background-color: var(--showcase-legacy);
  background-image: radial-gradient(#e5e5f7 0.5px, transparent 0.5px),
    radial-gradient(#e5e5f7 0.5px, var(--showcase-legacy) 0.5px);
}

.project-pic-lankyone-admin {
  max-width: 450px;
}

.profile-pic-lankyone-login,
.profile-pic-lankyone-route {
  max-width: 250px;
}

.project-details {
  padding: 100px;
}
