.intro-underline {
  text-decoration: underline wavy orange;
}
.rotating-action-word {
  vertical-align: -8px;
  display: inline-block;
  overflow: hidden;
  animation: reveal 4s ease infinite;
  max-width: 0;
  transition: all 1s ease-in-out;
  font-size: 20px;
}

.rotating-action-word.expand {
  transition-delay: 1s;
  max-width: 100%;
}

.intro-action-container {
  font-size: 20px;
  min-width: 550px;
  transition: width 3s ease;
}

.intro-line-breaker {
  display: none;
}

@media (max-width: 767px) {
  .intro-action-container {
    min-width: 0;
    padding: 25px;
    text-align: center;
    max-width: 350px;
  }

  .intro-line-breaker {
    display: inline;
  }
}

.intro-action-word {
  font-size: 36px;
  font-weight: 700;
}

.intro-action-word.c {
  color: #b084cc;
}

.intro-action-word.o {
  color: #ff9b71;
}

.intro-action-word.d {
  color: #e84855;
}

.intro-action-word.e {
  color: #474973;
}
