@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  font-family: 'Open Sans', sans-serif;
}

.intro-underline {
  text-decoration: underline wavy orange;
}

.content-two {
  background-color: #0077b6;
  min-height: calc(25vh + 450px);
  margin-top: -450px;
  padding-top: 120px;
  margin-bottom: -450px;
}

.details-content {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 18px;
  padding: 20px;
  animation: 3s floating infinite ease-in-out;
  margin-left: 25px;
}

.details-outline-green {
  text-decoration: underline wavy #16a085;
  background-color: #16a085;
  padding: 2px;
  font-weight: 700;
}

.details-underline-blue {
  text-decoration: underline wavy #2980b9;
  font-weight: 700;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.intro-name-divider {
  padding: 2px 0;
  background-color: #2980b9;
  width: 111px;
  display: flex;
  margin: 30px auto 10px;
}

.content-one {
  @apply flex items-center justify-center;
  height: calc(100vh - 140px);
}

.content-three {
  min-height: calc(100vh);
}

/* Rotating Name */

.name-container {
  @apply font-bold;
  font-size: 60px;
  height: 70px;
}

.name-word {
  position: absolute;
  width: fit-content;
}

.name-letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.name-letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.name-letter.behind {
  transform: rotateX(-90deg);
}

.name-letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mmm {
  color: #2980b9;
}

.neon {
  padding-left: 90px;
  color: #16a085;
}
