@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  font-family: 'Open Sans', sans-serif;
}

.intro-content {
  /* padding: 100px; */
}

.content-two {
  background-color: #0077b6;
  min-height: calc(25vh + 450px);
  margin-top: -450px;
  padding-top: 70px;
  margin-bottom: -450px;

  color: #fff;
  font-weight: bold;
}

.intro-name-divider {
  @apply text-center;
  height: 5px;
  padding: 2px 0;
  background-color: #2980b9;
  width: 15px;
}

.content-one {
  @apply flex items-center justify-center;
  height: calc(100vh - 140px);
}

.content-three {
  min-height: calc(100vh);
}

.intro-action-container {
  /* @apply font-bold; */
  /* margin-top: 60px;
  margin-left: 105px; */
  font-size: 20px;
}

.intro-action-c {
  font-size: 36px;
}

.intro-action-o {
  font-size: 36px;
}

.intro-action-d {
  font-size: 36px;
}

.intro-action-e {
  font-size: 36px;
}

.intro-action-remaining {
}

/* Rotating Name */

.name-container {
  @apply font-bold;
  font-size: 60px;
  /* position: absolute; */
  /* width: 1000px; */
  /* left: 30%; */
  /* margin-left: -225px; */
  height: 70px;
  /* top: 35%; */
  /* margin-top: -20px; */
}

.name-word {
  position: absolute;
  width: fit-content;
}

.name-letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.name-letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.name-letter.behind {
  transform: rotateX(-90deg);
}

.name-letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.belize {
  color: #2980b9;
}

.green {
  color: #16a085;
}
