@use 'animations';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  font-family: 'Open Sans', sans-serif;
}

.content-details {
  background-color: #0077b6;
  min-height: calc(25vh + 450px);
  margin-top: -450px;
  padding-top: 120px;
  margin-bottom: -450px;
  padding-bottom: 250px;
}

.intro-name-divider {
  padding: 2px 0;
  background-color: var(--main-theme);
  width: 111px;
  display: flex;
  margin: 30px auto 10px;
}

.content-intro {
  @apply flex items-center justify-center;
  height: calc(100vh - 140px);
}

.intro-scroll-icon {
  border: solid var(--main-theme);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
}

.intro-scroll-icon-wrapper {
  @apply cursor-pointer;
  position: absolute;
  bottom: 20vh;
  animation: 3s floating infinite ease-in-out;
}

.content-testimonials {
  @apply flex items-center justify-center;
  min-height: 100vh;
  background: linear-gradient(90deg, #fff 33%, rgba(0, 0, 0, 0) 33%),
    linear-gradient(90deg, var(--main-theme) 66%, #fff 66%);
  margin-top: -140px;
  margin-bottom: -450px;
}

@media (max-width: 767px) {
  .content-testimonials {
    background: linear-gradient(90deg, #fff 10%, rgba(0, 0, 0, 0) 10%),
      linear-gradient(90deg, var(--main-theme) 90%, #fff 90%);
  }
}

.content-contact {
  @apply flex justify-center;
  background-color: #252525;
  min-height: 100vh;
  padding: 50px;
}
