@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --showcase-lankyone: #410740;
  --showcase-bettercast: #3373b8;
  --showcase-appvantageasia: #080808;
  --showcase-m: #43aa8b;
  --showcase-legacy: #af5d63;

  --main-theme: #2980b9;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
